@model CaimanProject.VM.ProjetDetailDTO
<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="departmentDesc">
                        <h1>@Model.ProjetName</h1>
                        <p>
                           @Model.ProjetDescription
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="directive.html">
                                <button class="img-btn">
                                    <ul>
                                        <li>
                                            <img src="" alt="">
                                        </li>
                                        <li>
                                            <span>Cahier de charge</span>
                                        </li>
                                    </ul>
                                </button>
                            </a>
                            &nbsp;&nbsp;
                            <a href="finishProject.html">
                                <button class="btn-green">
                                    projet terminer
                                </button>
                            </a>
                        </div>
                        <div class="simple-card">
                            <div class="simple-card__progress mt-4">
                                <div class="progress">
                                    <div class="progression" style="width: @Model.ProjetProgressBar;"></div>
                                </div>
                                <span>40%</span>
                            </div>
                        </div>
                        <ul class="dmembers-list">
                            @foreach (var item in Model.MembersDTOs)
                            {
                                <li>
                                    <a href="#">
                                        <div class="member-line">
                                            <div class="photo-box br-frontend">
                                                <img src="/Content/img/user.png" alt="username">
                                            </div>
                                            <div class="member-line__info">
                                                <h4>@item.MemberName</h4>
                                                <div class="d-flex align-items-center">
                                                    <span>Front end -</span>&nbsp;
                                                    <div class="round"></div>
                                                    <div class="round"></div>
                                                    <div class="round"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                            <li style="border-bottom: none;">
                                <a href="#" data-toggle="modal" data-target="#exampleModalLong">
                                    <div class="member-line">
                                        <div class="photo-box">
                                            <img src="/Content/icons/add.svg" alt="username">
                                        </div>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
                    <h2 class="mb-5">notes _ <small>24 notes</small></h2>
                    <div class="simple-card">
                        <div class="simple-card__content">
                            <ol class="onote-list mb-5">
                                @{ 
                                    int insCrement = 0;
                                }
                                @foreach (var note in Model.NotePDTOs.OrderByDescending(c=>c.NotePId))
                                {
                                    if (insCrement < 2)
                                    {
                                        <li>
                                            <div class="onote">
                                                <span>@note.NotePDate.ToString("dd MMM yyy")</span>
                                                <p class="pgh">
                                                    @note.NotePDescription
                                                </p>
                                                <a href="@Url.Action("DetailsNote", "Notes", new { id = note.NotePId})" class="link">Lire la suite</a>
                                            </div>
                                        </li>
                                    }
                                    insCrement++;

                                }
                            </ol>
                            <div class="d-flex align-items-center">
                                <a href="@Url.Action("NotesOnProjet", "Notes", new { id = Model.ProjetId})" target="_blank">
                                    <button class="img-btn">
                                        <span>Plus</span>
                                    </button>
                                </a>
                                &nbsp;&nbsp;
                                <a href="@Url.Action("AddNote", "Notes", new { id = Model.ProjetId})">
                                    <button class="btn-green">
                                        Nouvelle note
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
                    <h2 class="mb-5">Paramètres</h2>
                    <div class="simple-card__content mb-5">
                        <a href="#" data-toggle="modal" data-target="#progressModal">
                            <button class="btn-green">
                                Augmenter la progression
                            </button>
                        </a>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content my-modal">
                                <div class="modal-header br-none">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Actuellement : @Model.ProjetProgressBar%</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="formular">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="progression du projet">
                                        </div>
                                        <button type="submit" class="btn-green">valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

